/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #323437;
  font-family: 'Courier New', Courier, monospace;
}

.custom-header {

  color: white;
  text-align: center;
  padding: 1rem;
}

.custom-title {
  font-size: 1.875rem;

  font-weight: bold;
}

.typing-area-text {

  font-size: 3rem;
  line-height: 1.5;
  text-align: left;
  margin: auto;
  width: 100%;
  max-width: 1300px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;

  /* Fade-out at bottom */
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.restart-icon {
  color: rgb(21, 21, 21);

  background: none;
  /* Remove any default background */
  display: block;
  margin-top: 40px;
  transition: transform 0.2s;
}

button.restart {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  cursor: pointer;
}

button.restart:hover .restart-icon {
  transform: rotate(60deg);
  transition: transform 0.2s ease;
}

.timer {
  color: #E2B714;
  font-size: 2rem;

}